data/sfddata-master/
data/df_bank.csv
data/theorized_lc/
code/__pycache__/
data/.DS_Store
src/relaiss/_version.py
src/relaiss/__pycache__/
src/relaiss/reference/
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Large data / artifacts
*.fits
*.fit
*.npy
*.npz
*.csv
lightcurves/
iforest_artifacts.joblib
